*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* Navigation */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo i{
    color:red;
    font-size:35px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:30px;
}

nav a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav a:hover{
    color:#ff0000;
}

/* Hero */

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
}

.hero span{
    color:red;
}

.hero p{
    margin:20px 0;
    color:#cbd5e1;
    font-size:18px;
}

form{
    margin-top:30px;
}

input{
    width:420px;
    padding:16px;
    border:none;
    border-radius:50px;
    font-size:17px;
    outline:none;
}

button{
    padding:16px 35px;
    border:none;
    border-radius:50px;
    background:red;
    color:white;
    cursor:pointer;
    font-size:16px;
    margin-left:10px;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

/* Cards */

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:60px 8%;
}

.card{
    background:#1e293b;
    padding:35px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card i{
    font-size:45px;
    color:red;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:10px;
}

/* Footer */

footer{
    background:#111827;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* LOGIN */

.login-box{

width:450px;

margin:40px auto 0;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.login-box input{

width:100%;

padding:16px;

margin-bottom:20px;

border:1px solid #ddd;

border-radius:50px;

font-size:16px;

}

.login-box input:focus{

outline:none;

border:2px solid red;

}

.login-box button{

width:100%;

margin-left:0;

}

.login-box p{

margin-top:20px;

color:#555;

}

.login-box a{

color:red;

font-weight:600;

text-decoration:none;

}

.message{

margin:20px auto;

padding:15px;

border-radius:10px;

font-weight:600;

text-align:center;

}

.error{

background:#ffe5e5;

color:#d8000c;

border:1px solid #ffb3b3;

}

.success{

background:#e6ffe6;

color:#0a8a0a;

border:1px solid #8fd98f;

}